language: android

env:
  global:
    - ADB_INSTALL_TIMEOUT=8

android:
  components:
    - tools
    - platform-tools
    
before_install:
 - chmod +x gradlew
 # Download SDK:
 - yes | sdkmanager "tools" &>/dev/null
 - yes | sdkmanager "platform-tools" &>/dev/null
 - yes | sdkmanager "platforms;android-28" &>/dev/null
 # Update remaining dependencies and accept licenses
 - yes | sdkmanager --update &>/dev/null
 - yes | sdkmanager --licenses &>/dev/null

before_script:
 # Setup emulator
 - echo no | android create avd --force -n test android-27 --abi armeabi-v7a
 - emulator -avd test -no-audio -no-window &
 - android-wait-for-emulator
 - adb shell input keyevent 82 &
